@font-face {
    font-weight: normal;
    font-family: vazir;
    src: url('./Vazir-Regular-FD.woff');
}

@font-face {
    font-weight: 500;
    font-family: vazir;
    src: url('./Vazir-Bold-FD.woff');
}

@font-face {
    font-weight: bold;
    font-family: vazir;
    src: url('./Vazir-Black-FD.woff');
}