@import url('/assets/fonts/vazir/vazir.css');


/* dark main bg = #1e2124 */
/* dark surface bg 14161a */
:root {
    --border-radius-lg: 16px;
    --border-radius-md: 12px;
}


body,
.v-btn,
.v-label,
.Vue-Toastification__toast-body,
.text-body-1,
.v-card-title,
.text-body-2,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: vazir !important;
    letter-spacing: 0px !important;
}

.v-label.v-label--clickable {
    opacity: 1 !important;
}

.v-card .v-card-title {
    line-height: 1.2 !important;
}



.ck-table-resized {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #999;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4FC3F7;
    border-radius: 5px;
}

.shadow-base {
    box-shadow: 0px 1px 10px #0000000d !important;
}

.shadow-hover {
    box-shadow: 0px 1px 10px #00000033 !important;
}

.round-base {
    border-radius: 1rem !important;
}

.profile-container {
    border-bottom-left-radius: var(--border-radius-md) !important;
    border-bottom-right-radius: var(--border-radius-md) !important;
    overflow: hidden;
}

.chip {
    display: inline-block;
    border: 1px solid #ddd;
}

.reply-btn,
.counter-btn,
.categories-btn {
    border-radius: var(--border-radius-md) !important;
}


.sorting {
    background-color: #14161e;
    color: #FFFFFFDE;
}


.question-card {
    border-radius: var(--border-radius-md) !important;
}

.question-card:nth-child(n+2) {
    margin-top: 1rem;
}

.search-bar .v-field__append-inner {
    display: none;
}