/* @import url('/assets/fonts/vazir/vazir.css'); */
@import url('/assets/fonts/bakh/fontiran.css');


/* dark main bg = #1e2124 */
/* dark surface bg 14161a */
:root {
    --border-radius-lg: 16px;
    --border-radius-md: 12px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

body,
.v-btn,
.v-label,
.Vue-Toastification__toast-body,
.text-body-1,
.v-card-title,
.text-body-2,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: Yekan Bakh FaNum !important;
    letter-spacing: 0px !important;
}

.v-label.v-label--clickable {
    opacity: 1 !important;
}

.v-card .v-card-title {
    line-height: 1.2 !important;
}



.ck-table-resized {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #999;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4FC3F7;
    border-radius: 5px;
}

.logo {
    height: 52px;
    width: 236px;
}

/* search-holder */

@media only screen and (max-width: 1000px) {

    .search-holder {
        padding-right: 1rem !important;
    }
}

@media only screen and (max-width: 960px) {

    /* .top-menu,
    .v-toolbar__content {
        height: 100px !important;
    } */
}

@media only screen and (max-width: 500px) {

    .logo {
        height: 52px;
        width: 200px;
    }
}

@media only screen and (max-width: 400px) {

    .logo {
        height: 52px;
        width: 150px;
        margin-top: .25rem;
    }
}

.shadow-base {
    box-shadow: 0px 1px 10px #0000000d !important;
}

.shadow-hover {
    box-shadow: 0px 1px 10px #00000033 !important;
}

.round-base {
    border-radius: 1rem !important;
}

.profile-container {
    border-bottom-left-radius: var(--border-radius-md) !important;
    border-bottom-right-radius: var(--border-radius-md) !important;
    overflow: hidden !important;
}

.chip {
    display: inline-block;
    border: 1px solid #ddd;
}

.reply-btn,
.rounded-btn,
.counter-btn,
.categories-btn {
    border-radius: var(--border-radius-md) !important;
}

.rounding {
    border-radius: var(--border-radius-md) !important;
}

.light-bg {
    background: #242b37 !important;
}


.profile-avatar {
    border: 12px solid #14161a;
    position: relative;
    top: -70px;
}

.profile-av-img {
    position: relative;
    margin: -2rem auto;
}

.bg-holder {
    position: relative;
}

.editprofile-av-img {
    /* position: relative; */
    margin: 0 auto;
    bottom: -90px;
}

.editprofile-avatar {
    border: 12px solid #14161a;
    position: relative;
    bottom: -160px;
}

.alter {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    border-radius: 50%;
}

.sorting {
    background-color: #14161a;
    color: #FFFFFFDE;
}

.profile-container .av-holder {
    position: relative;
}

.sidebar {
    border-radius: var(--border-radius-md) !important;
}

.question-card {
    border-radius: var(--border-radius-md) !important;
}

.question-card:nth-child(n+2) {
    margin-top: 1rem;
}

.search-bar .v-field__append-inner {
    display: none;
}



.right-border {
    border-right: 3px solid #ddd;
}

.rep-ans {
    height: 25px;
    line-height: 1.6rem;
    text-align: justify;
    overflow: hidden;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}