/* @import url('/assets/fonts/vazir/vazir.css'); */
@import url('/assets/fonts/bakh/fontiran.css');


/* dark main bg = #1e2124 */
/* dark surface bg 14161a */
:root {
    --border-radius-lg: 16px;
    --border-radius-md: 12px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}



body,
.v-btn,
.v-label,
.Vue-Toastification__toast-body,
.text-body-1,
.v-card-title,
.text-body-2,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
    font-family: Yekan Bakh FaNum !important;
    letter-spacing: 0px !important;
}

.v-label.v-label--clickable {
    opacity: 1 !important;
}

.v-card .v-card-title {
    line-height: 1.2 !important;
}


.ans .text-area-field .v-field__input {
    min-height: 300px;
}

.ck-table-resized {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #999;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4FC3F7;
    border-radius: 5px;
}

.logo {
    height: 52px;
    width: 236px;
}

/* search-holder */

.top-menu .v-toolbar__prepend {
    display: none;
}

.menu-item {
    margin-right: 1rem;
}

.login-menu {
    background-color: #4FC3F7 !important;
}

@media only screen and (max-width: 1400px) {

    .mySwiper {
        border-radius: 0px !important;
    }
}

@media only screen and (max-width: 1280px) {
    .top-menu .v-toolbar__prepend {
        display: flex;
    }
}

@media only screen and (max-width: 1000px) {

    .search-holder {
        padding-right: 1rem !important;
    }
}

@media only screen and (max-width: 960px) {

    .top-menu,
    .v-toolbar__content {
        height: 70px !important;
    }


    .v-main.main-holder {
        --v-layout-top: 70px !important;
    }
}

@media only screen and (max-width: 500px) {

    .logo {
        height: 52px;
        width: 200px;
    }
}

@media only screen and (max-width: 420px) {

    .logo {
        height: 52px;
        width: 150px;
        margin-top: .25rem;
    }
}

.shadow-base {
    box-shadow: 0px 1px 10px #0000000d !important;
}

.shadow-hover {
    box-shadow: 0px 1px 10px #00000033 !important;
}

.round-base {
    border-radius: 1rem !important;
}

.profile-container {
    border-bottom-left-radius: var(--border-radius-md) !important;
    border-bottom-right-radius: var(--border-radius-md) !important;
    overflow: hidden !important;
}

.chip {
    display: inline-block;
    border: 1px solid #ddd;
}

.reply-btn,
.rounded-btn,
.counter-btn,
.categories-btn {
    border-radius: var(--border-radius-md) !important;
}

.rounding {
    border-radius: var(--border-radius-md) !important;
}

.light-bg {
    background: #242b37 !important;
}

.lighter-bg {
    background: #EDF9FF !important;
}


.profile-avatar {
    border: 12px solid #14161a;
    position: relative;
    top: -70px;
}

.profile-av-img {
    position: relative;
    margin: -2rem auto;
}

.bg-holder {
    position: relative;
}

.editprofile-av-img {
    /* position: relative; */
    margin: 0 auto;
    bottom: -90px;
}

.editprofile-avatar {
    /* border: 12px solid #14161a; */
    position: relative;
    bottom: -160px;
}

.alter {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    border-radius: 50%;
}

.sorting {
    background-color: #14161a;
    color: #FFFFFFDE;
}

.profile-container .av-holder {
    position: relative;
}

.sidebar {
    border-radius: var(--border-radius-md) !important;
}

.question-card {
    border-radius: var(--border-radius-md) !important;
}

.question-card:nth-child(n+2) {
    margin-top: 1rem;
}

.search-bar .v-field__append-inner {
    display: none;
}

label {
    font-size: 18px;
}

.right-border {
    border-right: 3px solid #9E9E9E;
}

.v-toolbar {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.12) !important;
}

.v-toolbar--flat {
    box-shadow: none !important;
}

.has-shadow {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.12) !important;
}

.no-shadow {
    box-shadow: none !important;
}

.rep-ans {
    height: 21px;
    line-height: 1.6rem;
    text-align: justify;
    overflow: hidden;
    word-break: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}


.has-border {
    border: 1px solid #E0E6F2 !important;
}

.no-border {
    border: 0px solid rgba(0, 0, 0, 0) !important;
}

.tonal-bg {
    background-color: #EDF9FF !important;
}

.category-card,
.submit-btn,
.auth .v-field,
.rounding .v-field {
    border-radius: var(--border-radius-md) !important;
}

.v-otp-input .v-field {
    border-radius: 7px !important;
}


.v-input.v-theme--myLight .v-field--variant-outlined .v-field__outline__end {
    border-top-width: 1px;
    border-top-color: #E0E6F2;
    border-bottom-width: 1px;
    border-bottom-color: #E0E6F2;
    border-inline-end-width: 1px;
    border-inline-end-color: #E0E6F2;
    opacity: 1;
    transition: all .2s ease-in-out;
}

.v-input.v-theme--myLight .v-field--variant-outlined .v-field__outline__start {
    border-top-width: 1px;
    border-top-color: #E0E6F2;
    border-bottom-width: 1px;
    border-bottom-color: #E0E6F2;
    border-inline-start-width: 1px;
    border-inline-start-color: #E0E6F2;
    opacity: 1;
    transition: all .2s ease-in-out;
}


.v-input.v-theme--myLight:hover .v-field--variant-outlined .v-field__outline__end,
.v-input.v-theme--myLight:active .v-field--variant-outlined .v-field__outline__end,
.v-input.v-theme--myLight:focus .v-field--variant-outlined .v-field__outline__end {
    border-top-color: #bac0cb;
    border-bottom-color: #bac0cb;
    border-inline-end-color: #bac0cb;
}

.v-input.v-theme--myLight:hover .v-field--variant-outlined .v-field__outline__start,
.v-input.v-theme--myLight:active .v-field--variant-outlined .v-field__outline__start,
.v-input.v-theme--myLight:focus .v-field--variant-outlined .v-field__outline__start {
    border-top-color: #bac0cb;
    border-bottom-color: #bac0cb;
    border-inline-start-color: #bac0cb;
}

.v-theme--myLight .v-sheet--border {
    border: 1px solid #E0E6F2;
}