@font-face {
    font-weight: normal;
    font-family: vazir;
    src: url('./YekanBakh-Regular.woff2');
}


@font-face {
    font-weight: 500;
    font-family: vazir;
    src: url('./YekanBakh-Medium.woff2');
}

@font-face {
    font-weight: bold;
    font-family: vazir;
    src: url('./YekanBakh-Bold.woff2');
}